[submodule "otoro-write-lstm-mdn"]
	path = otoro-write-lstm-mdn
	url = https://github.com/grisaitis/otoro-write-lstm-mdn
[submodule "greydanus-scribe"]
	path = greydanus-scribe
	url = https://github.com/grisaitis/greydanus-scribe
[submodule "snowkylin-rnn-handwriting-generation"]
	path = snowkylin-rnn-handwriting-generation
	url = https://github.com/grisaitis/snowkylin-rnn-handwriting-generation
[submodule "write-rnn-tensorflow"]
	path = SlipknotTN-write-rnn-tensorflow
	url = https://github.com/SlipknotTN/write-rnn-tensorflow
[submodule "grisaitis-write-rnn-tensorflow"]
	path = grisaitis-write-rnn-tensorflow
	url = https://github.com/grisaitis/write-rnn-tensorflow
